# Coursera_Lambda Function and List comprehension.

In [2]:
def mul(a, b):
    r = a * b
    return r
mul(3,3)

9

In [5]:
mul = lambda a,b : a*b
mul(5,5)

25

In [7]:
sq = lambda a,b:a**b
sq(4,4)

256

In [8]:
sq = lambda a:a**2
sq(4)

16

In [9]:
ls = lambda a,b,d:[a,b,d]
ls(1,2,3)

[1, 2, 3]

In [10]:
st = lambda ms:ms[0]
st('ikram shahzad')

'i'

In [11]:
str_len = lambda st:len(st)
str_len('Ikram Shahzad')

13

In [15]:
num = [1, 2, 3]
def list_sq(list_):
    new_list = []
    for x in list_:
        new_list.append(x**2)
    return new_list
list_sq(num)

[1, 4, 9]

In [16]:
def funs(element):
    return element ** 2
map(funs, num)

In [18]:
list(map(funs, num))

[1, 4, 9]

In [19]:
ls_power = lambda element:element ** 2
list(map(ls_power, num))

[1, 4, 9]

In [20]:
list(map(lambda element:element ** 2, num))

[1, 4, 9]

In [21]:
words = ['ikram', 'shahzad']
list(map(lambda word:word.upper(), words))

['IKRAM', 'SHAHZAD']

In [22]:
sentenes = ['The sun dipped below the horizon, painting the sky in hues of orange and pink.',
'A gentle breeze rustled the leaves, carrying the scent of freshly mown grass.',
'Laughter echoed through the air as children played in the neighborhood park.',
'The aroma of brewing coffee filled the kitchen, signaling the start of a new day.',
'A solitary candle flickered on the windowsill, casting a warm glow in the quiet room.']

In [23]:
list(map(lambda sent  : sent.upper() , sentenes))

['THE SUN DIPPED BELOW THE HORIZON, PAINTING THE SKY IN HUES OF ORANGE AND PINK.',
 'A GENTLE BREEZE RUSTLED THE LEAVES, CARRYING THE SCENT OF FRESHLY MOWN GRASS.',
 'LAUGHTER ECHOED THROUGH THE AIR AS CHILDREN PLAYED IN THE NEIGHBORHOOD PARK.',
 'THE AROMA OF BREWING COFFEE FILLED THE KITCHEN, SIGNALING THE START OF A NEW DAY.',
 'A SOLITARY CANDLE FLICKERED ON THE WINDOWSILL, CASTING A WARM GLOW IN THE QUIET ROOM.']

In [24]:
list(map(lambda sent  : sent.lower() , sentenes))

['the sun dipped below the horizon, painting the sky in hues of orange and pink.',
 'a gentle breeze rustled the leaves, carrying the scent of freshly mown grass.',
 'laughter echoed through the air as children played in the neighborhood park.',
 'the aroma of brewing coffee filled the kitchen, signaling the start of a new day.',
 'a solitary candle flickered on the windowsill, casting a warm glow in the quiet room.']

In [26]:
hek = lambda num:True if num%2==0 else False
hek(2)

True

In [27]:
is_even = lambda num:True if num%2==0 else False
is_even(3)

False

In [29]:
nums = [1,2,3,4,5]
ls = []
filter(lambda num:ls.append(num) if num%2==0 else None, nums)

In [32]:
nums = [1,2,3,4,5]
ls = []
list(filter(lambda num:True if num%2==0 else False, nums))

[2, 4]

In [35]:
st = ['Ikram', 'Shahzad']
list(filter(lambda s:True if s[0]=='S' else False, st))

['Shahzad']

In [39]:
st = ['Ikram', 'Shahzad']
list(filter(lambda s:True if (s[0]=='S') & (len(s) == 7) else False, st))

['Shahzad']

In [40]:
nums = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda num  : num*100 if num%2==0 else num*10 , nums))

[10, 200, 30, 400, 50, 600, 70, 800, 90, 1000]

In [46]:
products = [
    ("Laptop", 899.99),
    ("Smartphone", 499.99),
    ("Headphones", 79.99),
    ("Coffee Maker", 129.99),
    ("Fitness Tracker", 59.99)
]
print(products.sort())
products

None

[('Coffee Maker', 129.99),
 ('Fitness Tracker', 59.99),
 ('Headphones', 79.99),
 ('Laptop', 899.99),
 ('Smartphone', 499.99)]

In [47]:
products

[('Coffee Maker', 129.99),
 ('Fitness Tracker', 59.99),
 ('Headphones', 79.99),
 ('Laptop', 899.99),
 ('Smartphone', 499.99)]

In [49]:
products.sort(key = lambda element : element[1])
products

[('Fitness Tracker', 59.99),
 ('Headphones', 79.99),
 ('Coffee Maker', 129.99),
 ('Smartphone', 499.99),
 ('Laptop', 899.99)]

In [ ]:
dataframe['Annual Inome'] = dataframe.apply(map(lambda in : 12 * in, inome)  )

In [ ]:
dataframe['Annual Tax amount']=dataframe['Annual inome olumn'].apply(lambda x : x * 0.65 if x > 64000 else x*0, axis=1 )